body { text-align: center; font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; background-color: #fafafa; padding: 20px 100px; color: #1E90FF; }
h1 { padding: 10px; background-color: #1E90FF; font: bold 40px verdana, sans-serif; color: white; text-align: center; }
h2 { padding: 10px; background-color: #1E90FF; font: 20px verdana, sans-serif; color: white; text-align: center; }
section { padding: 2% 2%; }

div { display: inline-block; font-size: 16px; margin: 0px 5px 0px 5px; font-size: 16px; }
#mensaxes { width: 30em; padding: 2% 2%; }
#formulario { background: #fff; border: 1px solid #eee; width: 30em; }

fieldset { border: 1px solid #ddd; padding: 0.5em; margin: 1em; }
fieldset div { margin: 0.3em 0; clear: both; }
label { float: left; width: 10em; text-align: right; margin-right: 1em; }
legend { color: #0b77b7; font-size: 1.2em; text-align: left; }

input { padding: 0.15em; width: 10em; border: 1px solid #ddd; background: #fafafa; font: bold 0.95em arial, sans-serif; -moz-border-radius: 0.4em; -khtml-border-radius: 0.4em; }
input:hover, input:focus { border-color: #666; background: #D2E4F9; } 
button { display: inline-block; cursor: pointer; padding: 10px 20px; background-color: #1E90FF; color: white; text-align: center; }

.verde { color: green; }
.vermello { color: red; }